
*.python linguist-detectable=true
*.php linguist-language=Python
*.python linguist-language=Python
*.html linguist-language=Python
*.css linguist-language=CSS
*.tex linguist-language=Python
*.TeX linguist-language=Python
