/* styles.css */

QWidget {
    background-color: #eaeaea;
}

QLabel {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    font-family: Fantasy;
    /* font-smooth: auto; */
}

QLineEdit {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 5px;
    /* font-smooth: auto; */
}

QPushButton {
    background-color: #4CAF50;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: cursive;
    /* font-smooth: auto; */
}

@font-face {
    font-family: 'Gotham';
    src: url('netflix_font') format('woff2'), /* Formato WOFF2 */
         url('netflix_font') format('woff'); /* Formato WOFF */
    font-weight: bold; /* Peso da fonte */
    /* Repita o @font-face para diferentes estilos (regular, italic, etc.) se necessário */
  }
  
  /* Você pode adicionar mais regras @font-face para diferentes estilos da fonte Gotham aqui */
  
  
  body {
    font-family: 'Gotham';
    font-weight: bold; /* Peso da fonte */
  }
  
  
  
  QWidget {
      background-color: #0e0e0e;
      color: #fff;
      
  }
  
  QLabel {
      font-size: 14px;
  }
  
  QLineEdit {
      background-color: #333;
      border: 1px solid #444;
      border-radius: 2px;
      padding: 2px;
      color: #fff;
  }
  
  QPushButton {
      background-color: #4CAF50;
      border-radius: 5px;
      padding: 5px;
      color: #fff;
      font-family: 'Gotham';
      font-weight: bold; /* Peso da fonte */
      font-size: 1rem;
      font-weight: 500;
      min-height: 2.5rem;
      padding: 0.375rem 1rem;
      
  }
  
  QPushButton:hover {
      background-color: #3e8e41;
  }
  
  QPushButton:pressed {
      background-color: #2e7d32;
  }